Repository seisei-sekai/OEM-agent: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

test: skip placeholder Message tests
  packages/domain/src/entities/__tests__/Message.test.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat: implement message timestamps display
  docs/ddd-snapshots/2026-01-29-7e1bbf7/aggregate-design.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/aggregate-design.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/bounded-context-map.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/bounded-context-map.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/domain-model.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/domain-model.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/event-storming.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/event-storming.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/metadata.json
  docs/ddd-snapshots/2026-01-29-7e1bbf7/overview.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/overview.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/product-backlog.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/product-backlog.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/stakeholder-summary.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/stakeholder-summary.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/stats.json
  docs/ddd-snapshots/2026-01-29-7e1bbf7/ubiquitous-language.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/ubiquitous-language.svg
  docs/ddd-snapshots/2026-01-29-7e1bbf7/use-case-catalog.mmd
  docs/ddd-snapshots/2026-01-29-7e1bbf7/use-case-catalog.svg
  packages/domain/tsconfig.tsbuildinfo
Due: pnpm exec prettier --write

test: fix failing integration and placeholder tests
  apps/api/src/routes/__tests__/health.test.ts
  packages/application/src/use-cases/__tests__/LoadChatHistoryUseCase.test.ts
  packages/application/src/use-cases/__tests__/SendMessageUseCase.test.ts
  packages/application/tsconfig.tsbuildinfo
  packages/infrastructure/src/agent/__tests__/graph.integration.test.ts
  packages/infrastructure/src/agent/__tests__/integration.generateMockup.test.ts
  packages/infrastructure/src/agent/__tests__/sse.mockup.test.ts
  packages/infrastructure/src/agent/nodes/__tests__/intentClassificationNode.test.ts
  packages/infrastructure/src/ai/__tests__/MockupGeneratorService.test.ts
  packages/infrastructure/tsconfig.tsbuildinfo
  packages/infrastructure/vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat: generate DDD diff in pre-commit hook
  .husky/pre-commit
  docs/ddd-changes/PR-current/after/aggregate-design.svg
  docs/ddd-changes/PR-current/after/bounded-context-map.svg
  docs/ddd-changes/PR-current/after/domain-model.svg
  docs/ddd-changes/PR-current/after/event-storming.svg
  docs/ddd-changes/PR-current/after/overview.svg
  docs/ddd-changes/PR-current/after/product-backlog.svg
  docs/ddd-changes/PR-current/after/stakeholder-summary.svg
  docs/ddd-changes/PR-current/after/ubiquitous-language.svg
  docs/ddd-changes/PR-current/after/use-case-catalog.svg
  docs/ddd-changes/PR-current/before/aggregate-design.mmd
  docs/ddd-changes/PR-current/before/aggregate-design.svg
  docs/ddd-changes/PR-current/before/bounded-context-map.mmd
  docs/ddd-changes/PR-current/before/bounded-context-map.svg
  docs/ddd-changes/PR-current/before/domain-model.mmd
  docs/ddd-changes/PR-current/before/domain-model.svg
  docs/ddd-changes/PR-current/before/event-storming.mmd
  docs/ddd-changes/PR-current/before/event-storming.svg
  docs/ddd-changes/PR-current/before/overview.mmd
  docs/ddd-changes/PR-current/before/overview.svg
  docs/ddd-changes/PR-current/before/product-backlog.mmd
  docs/ddd-changes/PR-current/before/product-backlog.svg
  docs/ddd-changes/PR-current/before/stakeholder-summary.mmd
  docs/ddd-changes/PR-current/before/stakeholder-summary.svg
  docs/ddd-changes/PR-current/before/ubiquitous-language.mmd
  docs/ddd-changes/PR-current/before/ubiquitous-language.svg
  docs/ddd-changes/PR-current/before/use-case-catalog.mmd
  docs/ddd-changes/PR-current/before/use-case-catalog.svg
  docs/ddd-changes/PR-current/comparison.md
  docs/ddd-changes/PR-current/diff-summary.json
  docs/ddd-models/stats.json
Due: pnpm exec prettier --write

docs: update workflow guide for commit-time DDD diff generation
  docs/WORKFLOW_GUIDE.md
  docs/ddd-changes/PR-current/after/aggregate-design.svg
  docs/ddd-changes/PR-current/after/bounded-context-map.svg
  docs/ddd-changes/PR-current/after/domain-model.svg
  docs/ddd-changes/PR-current/after/event-storming.svg
  docs/ddd-changes/PR-current/after/overview.svg
  docs/ddd-changes/PR-current/after/product-backlog.svg
  docs/ddd-changes/PR-current/after/stakeholder-summary.svg
  docs/ddd-changes/PR-current/after/ubiquitous-language.svg
  docs/ddd-changes/PR-current/after/use-case-catalog.svg
  docs/ddd-changes/PR-current/before/aggregate-design.mmd
  docs/ddd-changes/PR-current/before/aggregate-design.svg
  docs/ddd-changes/PR-current/before/bounded-context-map.mmd
  docs/ddd-changes/PR-current/before/bounded-context-map.svg
  docs/ddd-changes/PR-current/before/domain-model.mmd
  docs/ddd-changes/PR-current/before/domain-model.svg
  docs/ddd-changes/PR-current/before/event-storming.mmd
  docs/ddd-changes/PR-current/before/event-storming.svg
  docs/ddd-changes/PR-current/before/overview.mmd
  docs/ddd-changes/PR-current/before/overview.svg
  docs/ddd-changes/PR-current/before/product-backlog.mmd
  docs/ddd-changes/PR-current/before/product-backlog.svg
  docs/ddd-changes/PR-current/before/stakeholder-summary.mmd
  docs/ddd-changes/PR-current/before/stakeholder-summary.svg
  docs/ddd-changes/PR-current/before/ubiquitous-language.mmd
  docs/ddd-changes/PR-current/before/ubiquitous-language.svg
  docs/ddd-changes/PR-current/before/use-case-catalog.mmd
  docs/ddd-changes/PR-current/before/use-case-catalog.svg
  docs/ddd-changes/PR-current/comparison.md
  docs/ddd-changes/PR-current/diff-summary.json
Due: pnpm exec prettier --write

feat: add workflow scripts and embed DDD comparison in PR
  scripts/README.md
  scripts/analyzers/application-analyzer.ts
  scripts/analyzers/domain-analyzer.ts
  scripts/analyzers/git-diff-analyzer.ts
  scripts/analyzers/prd-analyzer.ts
  scripts/convert-to-svg.ts
  scripts/generate-ddd-docs.ts
  scripts/generators/aggregate-design-generator.ts
  scripts/generators/bounded-context-generator.ts
  scripts/generators/domain-model-generator.ts
  scripts/generators/event-storming-generator.ts
  scripts/generators/generate-ddd-diff.ts
  scripts/generators/index.ts
  scripts/generators/overview-generator.ts
  scripts/generators/product-backlog-generator.ts
  scripts/generators/stakeholder-summary-generator.ts
  scripts/generators/ubiquitous-language-generator.ts
  scripts/generators/use-case-catalog-generator.ts
  scripts/git-hooks/pre-commit-ddd-snapshot.ts
  scripts/hooks/pre-commit-ddd-diff.ts
  scripts/types.ts
  scripts/validate-ports.sh
  scripts/workflows/generate-code-stubs.ts
  scripts/workflows/generate-design.ts
  scripts/workflows/generate-tests.ts
  scripts/workflows/prepare-pr.ts
  scripts/workflows/run-tdd-workflow.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: update PR body with latest changes
  .github/pr-body.md
Due: pnpm exec prettier --write

fix: use GitHub raw URLs for SVG images in PR body
  .github/pr-body.md
  scripts/workflows/prepare-pr.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: disable automated PR comments (using CodeRabbit)
  .github/workflows/pr-validation.yml
Due: none

docs: update PR body with English-only DDD diagrams
  .github/pr-body.md
  docs/ddd-models/2-tactical-design/aggregate-design.svg
  docs/ddd-models/2-tactical-design/domain-model.svg
Due: pnpm exec prettier --write

fix: improve PR statistics to only count functional code
  .github/pr-body.md
  scripts/analyzers/git-diff-analyzer.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor: switch to blacklist for functional file detection
  scripts/analyzers/git-diff-analyzer.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: regenerate DDD diff with accurate functional code statistics
  .github/pr-body.md
  docs/ddd-changes/2026-01-29-32a87b2/after/aggregate-design.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/bounded-context-map.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/domain-model.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/event-storming.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/overview.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/product-backlog.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/stakeholder-summary.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/ubiquitous-language.svg
  docs/ddd-changes/2026-01-29-32a87b2/after/use-case-catalog.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/aggregate-design.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/aggregate-design.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/bounded-context-map.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/bounded-context-map.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/domain-model.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/domain-model.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/event-storming.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/event-storming.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/overview.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/overview.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/product-backlog.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/product-backlog.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/stakeholder-summary.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/stakeholder-summary.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/ubiquitous-language.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/ubiquitous-language.svg
  docs/ddd-changes/2026-01-29-32a87b2/before/use-case-catalog.mmd
  docs/ddd-changes/2026-01-29-32a87b2/before/use-case-catalog.svg
  docs/ddd-changes/2026-01-29-32a87b2/comparison.md
  docs/ddd-changes/2026-01-29-32a87b2/diff-summary.json
  docs/ddd-changes/2026-01-29-adf57f2/after/aggregate-design.svg
  docs/ddd-changes/2026-01-29-adf57f2/after/domain-model.svg
  docs/ddd-changes/2026-01-29-adf57f2/diff-summary.json
Due: pnpm exec prettier --write

feat: add automated GCP deployment script
  docs/DEPLOYMENT_GUIDE.md
  docs/INDEX.md
  package.json
  scripts/deploy-to-gcp.sh
Due: pnpm exec prettier --write

fix: add git safe.directory config to deployment script
  scripts/deploy-to-gcp.sh
Due: none

fix: add sudo to all git and docker commands in deployment
  scripts/deploy-to-gcp.sh
Due: none

fix: resolve TypeScript module resolution in Docker builds
  apps/api/Dockerfile
  tsconfig.json
Due: pnpm exec prettier --write

fix: force Docker rebuild without cache in deployment
  scripts/deploy-to-gcp.sh
Due: none

feat: add interactive cache rebuild option in deployment
  scripts/deploy-to-gcp.sh
Due: none

fix: recreate pnpm workspace symlinks in Docker build
  apps/api/Dockerfile
  tsconfig.json
Due: pnpm exec prettier --write

fix: move Docker rebuild prompt before SSH
  scripts/deploy-to-gcp.sh
Due: none

fix: deploy from current branch instead of main
  scripts/deploy-to-gcp.sh
Due: none

feat: add interactive branch selection for deployment
  scripts/deploy-to-gcp.sh
Due: none

fix: copy pnpm-lock.yaml to builder stage
  apps/api/Dockerfile
Due: none

fix: use turbo to build all dependencies in correct order
  apps/api/Dockerfile
Due: none

fix: rebuild node_modules in builder stage for proper symlinks
  apps/api/Dockerfile
Due: none

debug: add symlink inspection before build
  apps/api/Dockerfile
Due: none

fix: use single COPY to avoid workspace symlink issues
  apps/api/Dockerfile
Due: none

debug: check workspace symlinks in correct location
  apps/api/Dockerfile
Due: none

debug: verify domain dist directory after build
  apps/api/Dockerfile
Due: none

fix: TypeScript build system - remove .js extensions and use tsc --build
  README
  docs/ddd-models/2-tactical-design/aggregate-design.svg
  docs/ddd-models/2-tactical-design/domain-model.svg
  packages/application/package.json
  packages/application/src/dtos/index.ts
  packages/application/src/index.ts
  packages/application/src/interfaces/index.ts
  packages/application/src/use-cases/SendMessageUseCase.ts
  packages/application/src/use-cases/index.ts
  packages/application/tsconfig.tsbuildinfo
  packages/domain/package.json
  packages/domain/src/entities/index.ts
  packages/domain/src/events/index.ts
  packages/domain/src/index.ts
  packages/domain/src/repositories/index.ts
  packages/domain/src/services/index.ts
  packages/domain/src/value-objects/index.ts
  packages/domain/tsconfig.json
  packages/domain/tsconfig.tsbuildinfo
  packages/infrastructure/package.json
  packages/infrastructure/src/agent/index.ts
  packages/infrastructure/src/agent/nodes/index.ts
  packages/infrastructure/src/ai/index.ts
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/repositories/index.ts
  packages/infrastructure/src/vector/index.ts
  packages/infrastructure/tsconfig.tsbuildinfo
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: clean up Dockerfile debug commands
  apps/api/Dockerfile
Due: none

debug: verify dist and symlinks in Docker build
  apps/api/Dockerfile
Due: none

fix: remove stale TypeScript build cache files
  .gitignore
  packages/application/tsconfig.tsbuildinfo
  packages/domain/tsconfig.tsbuildinfo
  packages/infrastructure/tsconfig.tsbuildinfo
Due: none

docs: add TypeScript .tsbuildinfo cache warning to cursorrules
  .cursorrules
Due: none

fix: add explicit type annotations for infrastructure nodes
  packages/infrastructure/src/agent/nodes/brandingExtractionNode.ts
  packages/infrastructure/src/agent/nodes/mockupGenerationNode.ts
  packages/infrastructure/src/agent/nodes/productRecommendationNode.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: *.{ts,tsx}
  pnpm exec prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
